.complaint-container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #e0f2fe, #f8fafc);
    padding: 20px;
}


.complaint-card {
    width: 450px;
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.15);
}


.complaint-card h1 {
    text-align: center;
    color: #1e40af;
    margin-bottom: 10px;
    font-size: 28px;
}


.complaint-card p {
    text-align: center;
    color: #64748b;
    margin-bottom: 25px;
}



/* Form Labels */

.complaint-card label {
    font-weight: 600;
    color: #334155;
    display: block;
    margin-bottom: 6px;
}



/* Input Fields */

.complaint-card input,
.complaint-card textarea {

    width: 100%;
    padding: 12px 15px;
    margin-bottom: 18px;

    border: 1px solid #cbd5e1;

    border-radius: 8px;

    font-size: 15px;

    outline: none;

    transition: 0.3s;
}


.complaint-card input:focus,
.complaint-card textarea:focus {

    border-color: #2563eb;

    box-shadow: 0 0 5px rgba(37,99,235,0.3);

}



.complaint-card textarea {

    resize: none;

    height: 120px;

}



/* Submit Button */

.complaint-card button {

    width: 100%;

    padding: 14px;

    background: #2563eb;

    color: white;

    border: none;

    border-radius: 8px;

    font-size: 17px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;

}



.complaint-card button:hover {

    background: #1d4ed8;

    transform: translateY(-2px);

}



/* Mobile Responsive */

@media(max-width:500px){

    .complaint-card{

        width:100%;

        padding:25px;

    }

}